[submodule "public"]
	path = public
	url = https://github.com/MonashDataFluency/MonashDataFluency.github.io.git
	branch = master
[submodule "themes/ananke"]
	path = themes/ananke
    url= git@github.com:MonashDataFluency/gohugo-theme-ananke.git
